.logo{
    float: left;
    margin: 5px 123px 25px 140px;
}
.clear{
    clear: both;
}
.nav{
    float: right;
    margin: 48px 500px 51px 123px;
}
.li{
    float: left;
    margin-right: 35px;
}
.fixed{
    position: fixed;
   background-color: white;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 5;
   
}
.body{
    padding-top: 123px;
    width: 1600px;
    height: 3000px;
}
.img{
    position: relative;
    width: 100%;
}
.p1{
    position: absolute;
    top: 250px;
    right: 700px;
    font-size: 22px;
    color: white;
}
.p2{
    position: absolute;
    top: 300px;
    right: 740px;
    font-size: 48px;
    color: white;
}
.satauri{
    font-size: 22px;
    float: left;
    color: #FF7A00;
    margin-top: 83px;
    margin-left: 170px;
    margin-bottom: 83px;
}
.shvili{
    float: left;
}
.img-1{
    margin-left: 10px;
    margin-right: 100px;
    margin-bottom: 20px;
}
.h1-1{
    font-size: 36px;
    color: #181C28;
    margin-left: 10px;
    margin-bottom: 22px;
    width: 589px;
}
.p-1{
    width: 631px;
    font-size: 16px;
    color: #7B7B7B;
    margin-left: 10px;
}
.a-1{
    color: #FF7A00;
    font-size: 14px;
    width: 100px;
    height: 19px;
    margin-left: 10px;
    margin-top: 13px;
    
}
.a-1::after{
    content: '';
    width: 47px;
    height: 4px;
    background-color: #FF7A00;
    margin-left: 100px;
    display: block;
}
.shvili{
    float: right;
}
.img-2{
    margin-left: 138px;
    margin-right: 42px;
}
.h1-2{
    font-size: 36px;
    width: 589px;
    color: #181C28;
    margin-left: 138px;
    margin-top: 20px;
}
.p-2{
    font-size: 16px;
    color: #7B7B7B;
    margin-left: 138px;
    margin-top: 22px;
    width: 631px;
}
.a-2{
    color: #FF7A00;
    font-size: 14px;
    width: 100px;
    height: 19px;
    margin-left: 138px;
    margin-top: 13px;
}
.a-2::after{
    content: '';
    width: 47px;
    height: 4px;
    background-color: #FF7A00;
    display: block;
    margin-left: 100px;
}